body {
  padding: 20px;
}

button {
  padding: 10px 20px;

  font-family: sans-serif;
  font-size: 30px;
  color: white;

  background-color: orangered;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color 200ms linear, color 200ms linear;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:disabled {
    background-color: rgb(255, 145, 105);
    border-color: transparent;
    outline: none;
  }
}
